src/main/java/Actividad.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://actividad.taller.fiuba" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax21="http://rmi.java/xsd" xmlns:ax22="http://io.java/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://actividad.taller.fiuba">
    <wsdl:types>
        <xs:schema xmlns:ax23="http://io.java/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://rmi.java/xsd">
            <xs:import namespace="http://io.java/xsd"/>
            <xs:complexType name="RemoteException">
                <xs:complexContent>
                    <xs:extension base="ax22:IOException">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="cause" nillable="true" type="xs:anyType"/>
                            <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax24="http://rmi.java/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://actividad.taller.fiuba">
            <xs:import namespace="http://rmi.java/xsd"/>
            <xs:element name="ActividadRemoteException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="RemoteException" nillable="true" type="ax21:RemoteException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="crearActividadIndividualEvaluable">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="xmlPropiedades" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="crearActividadIndividualEvaluableResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="crearActividadGrupalEvaluable">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="xmlPropiedades" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="crearActividadGrupalEvaluableResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="agregarParticipante">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="idActividad" type="xs:long"/>
                        <xs:element minOccurs="0" name="usernameNuevoParticipante" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="eliminarParticipante">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="idActividad" type="xs:long"/>
                        <xs:element minOccurs="0" name="usernameParticipanteAEliminar" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getParticipantes">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="idActividad" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getParticipantesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="agregarGrupo">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="idActividad" type="xs:long"/>
                        <xs:element minOccurs="0" name="grupo" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="eliminarGrupo">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="idActividad" type="xs:long"/>
                        <xs:element minOccurs="0" name="idGrupo" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="agregarParticipanteAGrupo">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="idActividad" type="xs:long"/>
                        <xs:element minOccurs="0" name="idGrupo" type="xs:long"/>
                        <xs:element minOccurs="0" name="usernameNuevoParticipante" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="eliminarParticipanteAGrupo">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="idActividad" type="xs:long"/>
                        <xs:element minOccurs="0" name="idGrupo" type="xs:long"/>
                        <xs:element minOccurs="0" name="usernameParticipanteAEliminar" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getGrupos">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="idActividad" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getGruposResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="evaluar">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="idActividad" type="xs:long"/>
                        <xs:element minOccurs="0" name="notas" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getNota">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="idActividad" type="xs:long"/>
                        <xs:element minOccurs="0" name="usernameParticipante" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getNotaResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getNotas">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="idActividad" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getNotasResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPropiedades">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="idActividad" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPropiedadesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setPropiedades">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="idActividad" type="xs:long"/>
                        <xs:element minOccurs="0" name="xmlPropiedades" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getActividadesDeAmbito">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="idAmbito" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getActividadesDeAmbitoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getActividadesDeActividad">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="idActividad" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getActividadesDeActividadResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getActividadesDeMiembro">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getActividadesDeMiembroResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="destruirActividad">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="idActividad" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="crearActividadIndividual">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="xmlPropiedades" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="crearActividadIndividualResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="crearActividadGrupal">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="xmlPropiedades" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="crearActividadGrupalResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://io.java/xsd">
            <xs:complexType name="IOException">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="eliminarParticipanteAGrupoRequest">
        <wsdl:part name="parameters" element="ns:eliminarParticipanteAGrupo"/>
    </wsdl:message>
    <wsdl:message name="ActividadRemoteException">
        <wsdl:part name="parameters" element="ns:ActividadRemoteException"/>
    </wsdl:message>
    <wsdl:message name="agregarGrupoRequest">
        <wsdl:part name="parameters" element="ns:agregarGrupo"/>
    </wsdl:message>
    <wsdl:message name="eliminarGrupoRequest">
        <wsdl:part name="parameters" element="ns:eliminarGrupo"/>
    </wsdl:message>
    <wsdl:message name="destruirActividadRequest">
        <wsdl:part name="parameters" element="ns:destruirActividad"/>
    </wsdl:message>
    <wsdl:message name="getNotasRequest">
        <wsdl:part name="parameters" element="ns:getNotas"/>
    </wsdl:message>
    <wsdl:message name="getNotasResponse">
        <wsdl:part name="parameters" element="ns:getNotasResponse"/>
    </wsdl:message>
    <wsdl:message name="crearActividadGrupalEvaluableRequest">
        <wsdl:part name="parameters" element="ns:crearActividadGrupalEvaluable"/>
    </wsdl:message>
    <wsdl:message name="crearActividadGrupalEvaluableResponse">
        <wsdl:part name="parameters" element="ns:crearActividadGrupalEvaluableResponse"/>
    </wsdl:message>
    <wsdl:message name="agregarParticipanteRequest">
        <wsdl:part name="parameters" element="ns:agregarParticipante"/>
    </wsdl:message>
    <wsdl:message name="crearActividadIndividualEvaluableRequest">
        <wsdl:part name="parameters" element="ns:crearActividadIndividualEvaluable"/>
    </wsdl:message>
    <wsdl:message name="crearActividadIndividualEvaluableResponse">
        <wsdl:part name="parameters" element="ns:crearActividadIndividualEvaluableResponse"/>
    </wsdl:message>
    <wsdl:message name="getActividadesDeMiembroRequest">
        <wsdl:part name="parameters" element="ns:getActividadesDeMiembro"/>
    </wsdl:message>
    <wsdl:message name="getActividadesDeMiembroResponse">
        <wsdl:part name="parameters" element="ns:getActividadesDeMiembroResponse"/>
    </wsdl:message>
    <wsdl:message name="eliminarParticipanteRequest">
        <wsdl:part name="parameters" element="ns:eliminarParticipante"/>
    </wsdl:message>
    <wsdl:message name="crearActividadGrupalRequest">
        <wsdl:part name="parameters" element="ns:crearActividadGrupal"/>
    </wsdl:message>
    <wsdl:message name="crearActividadGrupalResponse">
        <wsdl:part name="parameters" element="ns:crearActividadGrupalResponse"/>
    </wsdl:message>
    <wsdl:message name="crearActividadIndividualRequest">
        <wsdl:part name="parameters" element="ns:crearActividadIndividual"/>
    </wsdl:message>
    <wsdl:message name="crearActividadIndividualResponse">
        <wsdl:part name="parameters" element="ns:crearActividadIndividualResponse"/>
    </wsdl:message>
    <wsdl:message name="getGruposRequest">
        <wsdl:part name="parameters" element="ns:getGrupos"/>
    </wsdl:message>
    <wsdl:message name="getGruposResponse">
        <wsdl:part name="parameters" element="ns:getGruposResponse"/>
    </wsdl:message>
    <wsdl:message name="setPropiedadesRequest">
        <wsdl:part name="parameters" element="ns:setPropiedades"/>
    </wsdl:message>
    <wsdl:message name="getActividadesDeActividadRequest">
        <wsdl:part name="parameters" element="ns:getActividadesDeActividad"/>
    </wsdl:message>
    <wsdl:message name="getActividadesDeActividadResponse">
        <wsdl:part name="parameters" element="ns:getActividadesDeActividadResponse"/>
    </wsdl:message>
    <wsdl:message name="getParticipantesRequest">
        <wsdl:part name="parameters" element="ns:getParticipantes"/>
    </wsdl:message>
    <wsdl:message name="getParticipantesResponse">
        <wsdl:part name="parameters" element="ns:getParticipantesResponse"/>
    </wsdl:message>
    <wsdl:message name="agregarParticipanteAGrupoRequest">
        <wsdl:part name="parameters" element="ns:agregarParticipanteAGrupo"/>
    </wsdl:message>
    <wsdl:message name="getNotaRequest">
        <wsdl:part name="parameters" element="ns:getNota"/>
    </wsdl:message>
    <wsdl:message name="getNotaResponse">
        <wsdl:part name="parameters" element="ns:getNotaResponse"/>
    </wsdl:message>
    <wsdl:message name="getPropiedadesRequest">
        <wsdl:part name="parameters" element="ns:getPropiedades"/>
    </wsdl:message>
    <wsdl:message name="getPropiedadesResponse">
        <wsdl:part name="parameters" element="ns:getPropiedadesResponse"/>
    </wsdl:message>
    <wsdl:message name="evaluarRequest">
        <wsdl:part name="parameters" element="ns:evaluar"/>
    </wsdl:message>
    <wsdl:message name="getActividadesDeAmbitoRequest">
        <wsdl:part name="parameters" element="ns:getActividadesDeAmbito"/>
    </wsdl:message>
    <wsdl:message name="getActividadesDeAmbitoResponse">
        <wsdl:part name="parameters" element="ns:getActividadesDeAmbitoResponse"/>
    </wsdl:message>
    <wsdl:portType name="ActividadPortType">
        <wsdl:operation name="eliminarParticipanteAGrupo">
            <wsdl:input message="ns:eliminarParticipanteAGrupoRequest" wsaw:Action="urn:eliminarParticipanteAGrupo"/>
            <wsdl:output message="ns:null" wsaw:Action="urn:eliminarParticipanteAGrupoResponse"/>
            <wsdl:fault message="ns:ActividadRemoteException" name="ActividadRemoteException" wsaw:Action="urn:eliminarParticipanteAGrupoActividadRemoteException"/>
        </wsdl:operation>
        <wsdl:operation name="agregarGrupo">
            <wsdl:input message="ns:agregarGrupoRequest" wsaw:Action="urn:agregarGrupo"/>
            <wsdl:output message="ns:null" wsaw:Action="urn:agregarGrupoResponse"/>
            <wsdl:fault message="ns:ActividadRemoteException" name="ActividadRemoteException" wsaw:Action="urn:agregarGrupoActividadRemoteException"/>
        </wsdl:operation>
        <wsdl:operation name="eliminarGrupo">
            <wsdl:input message="ns:eliminarGrupoRequest" wsaw:Action="urn:eliminarGrupo"/>
            <wsdl:output message="ns:null" wsaw:Action="urn:eliminarGrupoResponse"/>
            <wsdl:fault message="ns:ActividadRemoteException" name="ActividadRemoteException" wsaw:Action="urn:eliminarGrupoActividadRemoteException"/>
        </wsdl:operation>
        <wsdl:operation name="destruirActividad">
            <wsdl:input message="ns:destruirActividadRequest" wsaw:Action="urn:destruirActividad"/>
            <wsdl:output message="ns:null" wsaw:Action="urn:destruirActividadResponse"/>
            <wsdl:fault message="ns:ActividadRemoteException" name="ActividadRemoteException" wsaw:Action="urn:destruirActividadActividadRemoteException"/>
        </wsdl:operation>
        <wsdl:operation name="getNotas">
            <wsdl:input message="ns:getNotasRequest" wsaw:Action="urn:getNotas"/>
            <wsdl:output message="ns:getNotasResponse" wsaw:Action="urn:getNotasResponse"/>
            <wsdl:fault message="ns:ActividadRemoteException" name="ActividadRemoteException" wsaw:Action="urn:getNotasActividadRemoteException"/>
        </wsdl:operation>
        <wsdl:operation name="crearActividadGrupalEvaluable">
            <wsdl:input message="ns:crearActividadGrupalEvaluableRequest" wsaw:Action="urn:crearActividadGrupalEvaluable"/>
            <wsdl:output message="ns:crearActividadGrupalEvaluableResponse" wsaw:Action="urn:crearActividadGrupalEvaluableResponse"/>
            <wsdl:fault message="ns:ActividadRemoteException" name="ActividadRemoteException" wsaw:Action="urn:crearActividadGrupalEvaluableActividadRemoteException"/>
        </wsdl:operation>
        <wsdl:operation name="agregarParticipante">
            <wsdl:input message="ns:agregarParticipanteRequest" wsaw:Action="urn:agregarParticipante"/>
            <wsdl:output message="ns:null" wsaw:Action="urn:agregarParticipanteResponse"/>
            <wsdl:fault message="ns:ActividadRemoteException" name="ActividadRemoteException" wsaw:Action="urn:agregarParticipanteActividadRemoteException"/>
        </wsdl:operation>
        <wsdl:operation name="crearActividadIndividualEvaluable">
            <wsdl:input message="ns:crearActividadIndividualEvaluableRequest" wsaw:Action="urn:crearActividadIndividualEvaluable"/>
            <wsdl:output message="ns:crearActividadIndividualEvaluableResponse" wsaw:Action="urn:crearActividadIndividualEvaluableResponse"/>
            <wsdl:fault message="ns:ActividadRemoteException" name="ActividadRemoteException" wsaw:Action="urn:crearActividadIndividualEvaluableActividadRemoteException"/>
        </wsdl:operation>
        <wsdl:operation name="getActividadesDeMiembro">
            <wsdl:input message="ns:getActividadesDeMiembroRequest" wsaw:Action="urn:getActividadesDeMiembro"/>
            <wsdl:output message="ns:getActividadesDeMiembroResponse" wsaw:Action="urn:getActividadesDeMiembroResponse"/>
            <wsdl:fault message="ns:ActividadRemoteException" name="ActividadRemoteException" wsaw:Action="urn:getActividadesDeMiembroActividadRemoteException"/>
        </wsdl:operation>
        <wsdl:operation name="eliminarParticipante">
            <wsdl:input message="ns:eliminarParticipanteRequest" wsaw:Action="urn:eliminarParticipante"/>
            <wsdl:output message="ns:null" wsaw:Action="urn:eliminarParticipanteResponse"/>
            <wsdl:fault message="ns:ActividadRemoteException" name="ActividadRemoteException" wsaw:Action="urn:eliminarParticipanteActividadRemoteException"/>
        </wsdl:operation>
        <wsdl:operation name="crearActividadGrupal">
            <wsdl:input message="ns:crearActividadGrupalRequest" wsaw:Action="urn:crearActividadGrupal"/>
            <wsdl:output message="ns:crearActividadGrupalResponse" wsaw:Action="urn:crearActividadGrupalResponse"/>
            <wsdl:fault message="ns:ActividadRemoteException" name="ActividadRemoteException" wsaw:Action="urn:crearActividadGrupalActividadRemoteException"/>
        </wsdl:operation>
        <wsdl:operation name="crearActividadIndividual">
            <wsdl:input message="ns:crearActividadIndividualRequest" wsaw:Action="urn:crearActividadIndividual"/>
            <wsdl:output message="ns:crearActividadIndividualResponse" wsaw:Action="urn:crearActividadIndividualResponse"/>
            <wsdl:fault message="ns:ActividadRemoteException" name="ActividadRemoteException" wsaw:Action="urn:crearActividadIndividualActividadRemoteException"/>
        </wsdl:operation>
        <wsdl:operation name="getGrupos">
            <wsdl:input message="ns:getGruposRequest" wsaw:Action="urn:getGrupos"/>
            <wsdl:output message="ns:getGruposResponse" wsaw:Action="urn:getGruposResponse"/>
            <wsdl:fault message="ns:ActividadRemoteException" name="ActividadRemoteException" wsaw:Action="urn:getGruposActividadRemoteException"/>
        </wsdl:operation>
        <wsdl:operation name="setPropiedades">
            <wsdl:input message="ns:setPropiedadesRequest" wsaw:Action="urn:setPropiedades"/>
            <wsdl:output message="ns:null" wsaw:Action="urn:setPropiedadesResponse"/>
            <wsdl:fault message="ns:ActividadRemoteException" name="ActividadRemoteException" wsaw:Action="urn:setPropiedadesActividadRemoteException"/>
        </wsdl:operation>
        <wsdl:operation name="getActividadesDeActividad">
            <wsdl:input message="ns:getActividadesDeActividadRequest" wsaw:Action="urn:getActividadesDeActividad"/>
            <wsdl:output message="ns:getActividadesDeActividadResponse" wsaw:Action="urn:getActividadesDeActividadResponse"/>
            <wsdl:fault message="ns:ActividadRemoteException" name="ActividadRemoteException" wsaw:Action="urn:getActividadesDeActividadActividadRemoteException"/>
        </wsdl:operation>
        <wsdl:operation name="getParticipantes">
            <wsdl:input message="ns:getParticipantesRequest" wsaw:Action="urn:getParticipantes"/>
            <wsdl:output message="ns:getParticipantesResponse" wsaw:Action="urn:getParticipantesResponse"/>
            <wsdl:fault message="ns:ActividadRemoteException" name="ActividadRemoteException" wsaw:Action="urn:getParticipantesActividadRemoteException"/>
        </wsdl:operation>
        <wsdl:operation name="agregarParticipanteAGrupo">
            <wsdl:input message="ns:agregarParticipanteAGrupoRequest" wsaw:Action="urn:agregarParticipanteAGrupo"/>
            <wsdl:output message="ns:null" wsaw:Action="urn:agregarParticipanteAGrupoResponse"/>
            <wsdl:fault message="ns:ActividadRemoteException" name="ActividadRemoteException" wsaw:Action="urn:agregarParticipanteAGrupoActividadRemoteException"/>
        </wsdl:operation>
        <wsdl:operation name="getNota">
            <wsdl:input message="ns:getNotaRequest" wsaw:Action="urn:getNota"/>
            <wsdl:output message="ns:getNotaResponse" wsaw:Action="urn:getNotaResponse"/>
            <wsdl:fault message="ns:ActividadRemoteException" name="ActividadRemoteException" wsaw:Action="urn:getNotaActividadRemoteException"/>
        </wsdl:operation>
        <wsdl:operation name="getPropiedades">
            <wsdl:input message="ns:getPropiedadesRequest" wsaw:Action="urn:getPropiedades"/>
            <wsdl:output message="ns:getPropiedadesResponse" wsaw:Action="urn:getPropiedadesResponse"/>
            <wsdl:fault message="ns:ActividadRemoteException" name="ActividadRemoteException" wsaw:Action="urn:getPropiedadesActividadRemoteException"/>
        </wsdl:operation>
        <wsdl:operation name="evaluar">
            <wsdl:input message="ns:evaluarRequest" wsaw:Action="urn:evaluar"/>
            <wsdl:output message="ns:null" wsaw:Action="urn:evaluarResponse"/>
            <wsdl:fault message="ns:ActividadRemoteException" name="ActividadRemoteException" wsaw:Action="urn:evaluarActividadRemoteException"/>
        </wsdl:operation>
        <wsdl:operation name="getActividadesDeAmbito">
            <wsdl:input message="ns:getActividadesDeAmbitoRequest" wsaw:Action="urn:getActividadesDeAmbito"/>
            <wsdl:output message="ns:getActividadesDeAmbitoResponse" wsaw:Action="urn:getActividadesDeAmbitoResponse"/>
            <wsdl:fault message="ns:ActividadRemoteException" name="ActividadRemoteException" wsaw:Action="urn:getActividadesDeAmbitoActividadRemoteException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ActividadSoap11Binding" type="ns:ActividadPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="eliminarParticipanteAGrupo">
            <soap:operation soapAction="urn:eliminarParticipanteAGrupo" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ActividadRemoteException">
                <soap:fault use="literal" name="ActividadRemoteException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="agregarGrupo">
            <soap:operation soapAction="urn:agregarGrupo" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ActividadRemoteException">
                <soap:fault use="literal" name="ActividadRemoteException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="eliminarGrupo">
            <soap:operation soapAction="urn:eliminarGrupo" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ActividadRemoteException">
                <soap:fault use="literal" name="ActividadRemoteException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getNotas">
            <soap:operation soapAction="urn:getNotas" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ActividadRemoteException">
                <soap:fault use="literal" name="ActividadRemoteException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="destruirActividad">
            <soap:operation soapAction="urn:destruirActividad" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ActividadRemoteException">
                <soap:fault use="literal" name="ActividadRemoteException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="crearActividadGrupalEvaluable">
            <soap:operation soapAction="urn:crearActividadGrupalEvaluable" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ActividadRemoteException">
                <soap:fault use="literal" name="ActividadRemoteException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="agregarParticipante">
            <soap:operation soapAction="urn:agregarParticipante" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ActividadRemoteException">
                <soap:fault use="literal" name="ActividadRemoteException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="crearActividadIndividualEvaluable">
            <soap:operation soapAction="urn:crearActividadIndividualEvaluable" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ActividadRemoteException">
                <soap:fault use="literal" name="ActividadRemoteException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getActividadesDeMiembro">
            <soap:operation soapAction="urn:getActividadesDeMiembro" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ActividadRemoteException">
                <soap:fault use="literal" name="ActividadRemoteException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="eliminarParticipante">
            <soap:operation soapAction="urn:eliminarParticipante" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ActividadRemoteException">
                <soap:fault use="literal" name="ActividadRemoteException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="crearActividadGrupal">
            <soap:operation soapAction="urn:crearActividadGrupal" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ActividadRemoteException">
                <soap:fault use="literal" name="ActividadRemoteException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="crearActividadIndividual">
            <soap:operation soapAction="urn:crearActividadIndividual" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ActividadRemoteException">
                <soap:fault use="literal" name="ActividadRemoteException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getGrupos">
            <soap:operation soapAction="urn:getGrupos" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ActividadRemoteException">
                <soap:fault use="literal" name="ActividadRemoteException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="setPropiedades">
            <soap:operation soapAction="urn:setPropiedades" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ActividadRemoteException">
                <soap:fault use="literal" name="ActividadRemoteException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getParticipantes">
            <soap:operation soapAction="urn:getParticipantes" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ActividadRemoteException">
                <soap:fault use="literal" name="ActividadRemoteException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getActividadesDeActividad">
            <soap:operation soapAction="urn:getActividadesDeActividad" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ActividadRemoteException">
                <soap:fault use="literal" name="ActividadRemoteException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="agregarParticipanteAGrupo">
            <soap:operation soapAction="urn:agregarParticipanteAGrupo" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ActividadRemoteException">
                <soap:fault use="literal" name="ActividadRemoteException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getNota">
            <soap:operation soapAction="urn:getNota" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ActividadRemoteException">
                <soap:fault use="literal" name="ActividadRemoteException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getPropiedades">
            <soap:operation soapAction="urn:getPropiedades" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ActividadRemoteException">
                <soap:fault use="literal" name="ActividadRemoteException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="evaluar">
            <soap:operation soapAction="urn:evaluar" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ActividadRemoteException">
                <soap:fault use="literal" name="ActividadRemoteException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getActividadesDeAmbito">
            <soap:operation soapAction="urn:getActividadesDeAmbito" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ActividadRemoteException">
                <soap:fault use="literal" name="ActividadRemoteException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ActividadSoap12Binding" type="ns:ActividadPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="eliminarParticipanteAGrupo">
            <soap12:operation soapAction="urn:eliminarParticipanteAGrupo" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ActividadRemoteException">
                <soap12:fault use="literal" name="ActividadRemoteException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="agregarGrupo">
            <soap12:operation soapAction="urn:agregarGrupo" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ActividadRemoteException">
                <soap12:fault use="literal" name="ActividadRemoteException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="eliminarGrupo">
            <soap12:operation soapAction="urn:eliminarGrupo" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ActividadRemoteException">
                <soap12:fault use="literal" name="ActividadRemoteException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getNotas">
            <soap12:operation soapAction="urn:getNotas" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ActividadRemoteException">
                <soap12:fault use="literal" name="ActividadRemoteException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="destruirActividad">
            <soap12:operation soapAction="urn:destruirActividad" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ActividadRemoteException">
                <soap12:fault use="literal" name="ActividadRemoteException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="crearActividadGrupalEvaluable">
            <soap12:operation soapAction="urn:crearActividadGrupalEvaluable" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ActividadRemoteException">
                <soap12:fault use="literal" name="ActividadRemoteException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="agregarParticipante">
            <soap12:operation soapAction="urn:agregarParticipante" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ActividadRemoteException">
                <soap12:fault use="literal" name="ActividadRemoteException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="crearActividadIndividualEvaluable">
            <soap12:operation soapAction="urn:crearActividadIndividualEvaluable" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ActividadRemoteException">
                <soap12:fault use="literal" name="ActividadRemoteException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getActividadesDeMiembro">
            <soap12:operation soapAction="urn:getActividadesDeMiembro" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ActividadRemoteException">
                <soap12:fault use="literal" name="ActividadRemoteException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="eliminarParticipante">
            <soap12:operation soapAction="urn:eliminarParticipante" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ActividadRemoteException">
                <soap12:fault use="literal" name="ActividadRemoteException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="crearActividadGrupal">
            <soap12:operation soapAction="urn:crearActividadGrupal" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ActividadRemoteException">
                <soap12:fault use="literal" name="ActividadRemoteException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="crearActividadIndividual">
            <soap12:operation soapAction="urn:crearActividadIndividual" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ActividadRemoteException">
                <soap12:fault use="literal" name="ActividadRemoteException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getGrupos">
            <soap12:operation soapAction="urn:getGrupos" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ActividadRemoteException">
                <soap12:fault use="literal" name="ActividadRemoteException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="setPropiedades">
            <soap12:operation soapAction="urn:setPropiedades" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ActividadRemoteException">
                <soap12:fault use="literal" name="ActividadRemoteException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getParticipantes">
            <soap12:operation soapAction="urn:getParticipantes" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ActividadRemoteException">
                <soap12:fault use="literal" name="ActividadRemoteException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getActividadesDeActividad">
            <soap12:operation soapAction="urn:getActividadesDeActividad" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ActividadRemoteException">
                <soap12:fault use="literal" name="ActividadRemoteException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="agregarParticipanteAGrupo">
            <soap12:operation soapAction="urn:agregarParticipanteAGrupo" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ActividadRemoteException">
                <soap12:fault use="literal" name="ActividadRemoteException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getNota">
            <soap12:operation soapAction="urn:getNota" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ActividadRemoteException">
                <soap12:fault use="literal" name="ActividadRemoteException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getPropiedades">
            <soap12:operation soapAction="urn:getPropiedades" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ActividadRemoteException">
                <soap12:fault use="literal" name="ActividadRemoteException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="evaluar">
            <soap12:operation soapAction="urn:evaluar" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ActividadRemoteException">
                <soap12:fault use="literal" name="ActividadRemoteException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getActividadesDeAmbito">
            <soap12:operation soapAction="urn:getActividadesDeAmbito" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ActividadRemoteException">
                <soap12:fault use="literal" name="ActividadRemoteException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ActividadHttpBinding" type="ns:ActividadPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="eliminarParticipanteAGrupo">
            <http:operation location="eliminarParticipanteAGrupo"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="agregarGrupo">
            <http:operation location="agregarGrupo"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="eliminarGrupo">
            <http:operation location="eliminarGrupo"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getNotas">
            <http:operation location="getNotas"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="destruirActividad">
            <http:operation location="destruirActividad"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="crearActividadGrupalEvaluable">
            <http:operation location="crearActividadGrupalEvaluable"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="agregarParticipante">
            <http:operation location="agregarParticipante"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="crearActividadIndividualEvaluable">
            <http:operation location="crearActividadIndividualEvaluable"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getActividadesDeMiembro">
            <http:operation location="getActividadesDeMiembro"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="eliminarParticipante">
            <http:operation location="eliminarParticipante"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="crearActividadGrupal">
            <http:operation location="crearActividadGrupal"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="crearActividadIndividual">
            <http:operation location="crearActividadIndividual"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getGrupos">
            <http:operation location="getGrupos"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setPropiedades">
            <http:operation location="setPropiedades"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getParticipantes">
            <http:operation location="getParticipantes"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getActividadesDeActividad">
            <http:operation location="getActividadesDeActividad"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="agregarParticipanteAGrupo">
            <http:operation location="agregarParticipanteAGrupo"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getNota">
            <http:operation location="getNota"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPropiedades">
            <http:operation location="getPropiedades"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="evaluar">
            <http:operation location="evaluar"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getActividadesDeAmbito">
            <http:operation location="getActividadesDeAmbito"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Actividad">
        <wsdl:port name="ActividadHttpSoap11Endpoint" binding="ns:ActividadSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/Actividad"/>
        </wsdl:port>
        <wsdl:port name="ActividadHttpSoap12Endpoint" binding="ns:ActividadSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/Actividad"/>
        </wsdl:port>
        <wsdl:port name="ActividadHttpEndpoint" binding="ns:ActividadHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/Actividad"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
