src/main/java/materials.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="MaterialsImplService">
<wsp:Policy wsu:Id="MaterialsImplPortBinding_MTOM_Policy">
<ns1:OptimizedMimeSerialization xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
</wsp:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://localhost:8081/WS2/Greeting2?xsd=1" />
</xsd:schema>
</types>
<message name="sayHello">
<part name="parameters" element="tns:sayHello" />
</message>
<message name="sayHelloResponse">
<part name="parameters" element="tns:sayHelloResponse" />
</message>
<message name="agregarEncuesta">
<part name="parameters" element="tns:agregarEncuesta" />
</message>
<message name="agregarEncuestaResponse">
<part name="parameters" element="tns:agregarEncuestaResponse" />
</message>
<message name="setArchivo">
<part name="parameters" element="tns:setArchivo" />
</message>
<message name="setArchivoResponse">
<part name="parameters" element="tns:setArchivoResponse" />
</message>
<message name="agregarLink">
<part name="parameters" element="tns:agregarLink" />
</message>
<message name="agregarLinkResponse">
<part name="parameters" element="tns:agregarLinkResponse" />
</message>
<message name="getEncuesta">
<part name="parameters" element="tns:getEncuesta" />
</message>
<message name="getEncuestaResponse">
<part name="parameters" element="tns:getEncuestaResponse" />
</message>
<message name="agregarEncuestaRespondida">
<part name="parameters" element="tns:agregarEncuestaRespondida" />
</message>
<message name="agregarEncuestaRespondidaResponse">
<part name="parameters" element="tns:agregarEncuestaRespondidaResponse" />
</message>
<message name="getEncuestaRespondida">
<part name="parameters" element="tns:getEncuestaRespondida" />
</message>
<message name="getEncuestaRespondidaResponse">
<part name="parameters" element="tns:getEncuestaRespondidaResponse" />
</message>
<message name="obtenerRecursos">
<part name="parameters" element="tns:obtenerRecursos" />
</message>
<message name="obtenerRecursosResponse">
<part name="parameters" element="tns:obtenerRecursosResponse" />
</message>
<portType name="Materials">
<operation name="sayHello">
<input wsam:Action="http://service/Materials/sayHelloRequest" message="tns:sayHello" />
<output wsam:Action="http://service/Materials/sayHelloResponse" message="tns:sayHelloResponse" />
</operation>
<operation name="agregarEncuesta">
<input wsam:Action="http://service/Materials/agregarEncuestaRequest" message="tns:agregarEncuesta" />
<output wsam:Action="http://service/Materials/agregarEncuestaResponse" message="tns:agregarEncuestaResponse" />
</operation>
<operation name="setArchivo">
<input wsam:Action="http://service/Materials/setArchivoRequest" message="tns:setArchivo" />
<output wsam:Action="http://service/Materials/setArchivoResponse" message="tns:setArchivoResponse" />
</operation>
<operation name="agregarLink">
<input wsam:Action="http://service/Materials/agregarLinkRequest" message="tns:agregarLink" />
<output wsam:Action="http://service/Materials/agregarLinkResponse" message="tns:agregarLinkResponse" />
</operation>
<operation name="getEncuesta">
<input wsam:Action="http://service/Materials/getEncuestaRequest" message="tns:getEncuesta" />
<output wsam:Action="http://service/Materials/getEncuestaResponse" message="tns:getEncuestaResponse" />
</operation>
<operation name="agregarEncuestaRespondida">
<input wsam:Action="http://service/Materials/agregarEncuestaRespondidaRequest" message="tns:agregarEncuestaRespondida" />
<output wsam:Action="http://service/Materials/agregarEncuestaRespondidaResponse" message="tns:agregarEncuestaRespondidaResponse" />
</operation>
<operation name="getEncuestaRespondida">
<input wsam:Action="http://service/Materials/getEncuestaRespondidaRequest" message="tns:getEncuestaRespondida" />
<output wsam:Action="http://service/Materials/getEncuestaRespondidaResponse" message="tns:getEncuestaRespondidaResponse" />
</operation>
<operation name="obtenerRecursos">
<input wsam:Action="http://service/Materials/obtenerRecursosRequest" message="tns:obtenerRecursos" />
<output wsam:Action="http://service/Materials/obtenerRecursosResponse" message="tns:obtenerRecursosResponse" />
</operation>
</portType>
<binding name="MaterialsImplPortBinding" type="tns:Materials">
<wsp:PolicyReference URI="#MaterialsImplPortBinding_MTOM_Policy" />
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="sayHello">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="agregarEncuesta">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="setArchivo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="agregarLink">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getEncuesta">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="agregarEncuestaRespondida">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getEncuestaRespondida">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="obtenerRecursos">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="MaterialsImplService">
<port name="MaterialsImplPort" binding="tns:MaterialsImplPortBinding">
<soap:address location="http://localhost:8081/WS2/Greeting2" />
</port>
</service>
</definitions>
