src/main/java/materials.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://service" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax21="http://model/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://service">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://model/xsd">
            <xs:complexType name="Recurso">
                <xs:sequence>
                    <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="idAmbiente" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="idRecurso" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="tipo" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Link">
                <xs:complexContent>
                    <xs:extension base="ax21:Recurso">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="Encuesta">
                <xs:complexContent>
                    <xs:extension base="ax21:Recurso">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="preguntas" nillable="true" type="xs:anyType"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="EncuestaRespondida">
                <xs:sequence>
                    <xs:element minOccurs="0" name="evaluacion" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="idAmbiente" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="idRecurso" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="idUsuario" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="preguntasRespondidas" nillable="true" type="xs:anyType"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax22="http://model/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service">
            <xs:import namespace="http://model/xsd"/>
            <xs:element name="agregarLink">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" nillable="true" type="ax21:Link"/>
                        <xs:element minOccurs="0" name="args1" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="agregarEncuesta">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" nillable="true" type="ax21:Encuesta"/>
                        <xs:element minOccurs="0" name="args1" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setArchivo">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" type="xs:int"/>
                        <xs:element minOccurs="0" name="args1" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="args2" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="args3" nillable="true" type="xs:base64Binary"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setArchivoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="obtenerRecursos">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" type="xs:int"/>
                        <xs:element minOccurs="0" name="args1" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="obtenerRecursosResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax21:Recurso"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEncuesta">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" type="xs:int"/>
                        <xs:element minOccurs="0" name="args1" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEncuestaResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax21:Encuesta"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEncuestaRespondida">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" type="xs:int"/>
                        <xs:element minOccurs="0" name="args1" type="xs:int"/>
                        <xs:element minOccurs="0" name="args2" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEncuestaRespondidaResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax21:EncuestaRespondida"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="agregarEncuestaRespondida">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" nillable="true" type="ax21:EncuestaRespondida"/>
                        <xs:element minOccurs="0" name="args1" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="sayHello">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="sayHelloResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="agregarLinkRequest">
        <wsdl:part name="parameters" element="ns:agregarLink"/>
    </wsdl:message>
    <wsdl:message name="agregarEncuestaRespondidaRequest">
        <wsdl:part name="parameters" element="ns:agregarEncuestaRespondida"/>
    </wsdl:message>
    <wsdl:message name="setArchivoRequest">
        <wsdl:part name="parameters" element="ns:setArchivo"/>
    </wsdl:message>
    <wsdl:message name="setArchivoResponse">
        <wsdl:part name="parameters" element="ns:setArchivoResponse"/>
    </wsdl:message>
    <wsdl:message name="agregarEncuestaRequest">
        <wsdl:part name="parameters" element="ns:agregarEncuesta"/>
    </wsdl:message>
    <wsdl:message name="obtenerRecursosRequest">
        <wsdl:part name="parameters" element="ns:obtenerRecursos"/>
    </wsdl:message>
    <wsdl:message name="obtenerRecursosResponse">
        <wsdl:part name="parameters" element="ns:obtenerRecursosResponse"/>
    </wsdl:message>
    <wsdl:message name="getEncuestaRequest">
        <wsdl:part name="parameters" element="ns:getEncuesta"/>
    </wsdl:message>
    <wsdl:message name="getEncuestaResponse">
        <wsdl:part name="parameters" element="ns:getEncuestaResponse"/>
    </wsdl:message>
    <wsdl:message name="getEncuestaRespondidaRequest">
        <wsdl:part name="parameters" element="ns:getEncuestaRespondida"/>
    </wsdl:message>
    <wsdl:message name="getEncuestaRespondidaResponse">
        <wsdl:part name="parameters" element="ns:getEncuestaRespondidaResponse"/>
    </wsdl:message>
    <wsdl:message name="sayHelloRequest">
        <wsdl:part name="parameters" element="ns:sayHello"/>
    </wsdl:message>
    <wsdl:message name="sayHelloResponse">
        <wsdl:part name="parameters" element="ns:sayHelloResponse"/>
    </wsdl:message>
    <wsdl:portType name="MaterialsServicePortType">
        <wsdl:operation name="agregarLink">
            <wsdl:input message="ns:agregarLinkRequest" wsaw:Action="urn:agregarLink"/>
        </wsdl:operation>
        <wsdl:operation name="agregarEncuestaRespondida">
            <wsdl:input message="ns:agregarEncuestaRespondidaRequest" wsaw:Action="urn:agregarEncuestaRespondida"/>
        </wsdl:operation>
        <wsdl:operation name="setArchivo">
            <wsdl:input message="ns:setArchivoRequest" wsaw:Action="urn:setArchivo"/>
            <wsdl:output message="ns:setArchivoResponse" wsaw:Action="urn:setArchivoResponse"/>
        </wsdl:operation>
        <wsdl:operation name="agregarEncuesta">
            <wsdl:input message="ns:agregarEncuestaRequest" wsaw:Action="urn:agregarEncuesta"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerRecursos">
            <wsdl:input message="ns:obtenerRecursosRequest" wsaw:Action="urn:obtenerRecursos"/>
            <wsdl:output message="ns:obtenerRecursosResponse" wsaw:Action="urn:obtenerRecursosResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getEncuesta">
            <wsdl:input message="ns:getEncuestaRequest" wsaw:Action="urn:getEncuesta"/>
            <wsdl:output message="ns:getEncuestaResponse" wsaw:Action="urn:getEncuestaResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getEncuestaRespondida">
            <wsdl:input message="ns:getEncuestaRespondidaRequest" wsaw:Action="urn:getEncuestaRespondida"/>
            <wsdl:output message="ns:getEncuestaRespondidaResponse" wsaw:Action="urn:getEncuestaRespondidaResponse"/>
        </wsdl:operation>
        <wsdl:operation name="sayHello">
            <wsdl:input message="ns:sayHelloRequest" wsaw:Action="urn:sayHello"/>
            <wsdl:output message="ns:sayHelloResponse" wsaw:Action="urn:sayHelloResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MaterialsServiceSoap11Binding" type="ns:MaterialsServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="agregarLink">
            <soap:operation soapAction="urn:agregarLink" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="agregarEncuestaRespondida">
            <soap:operation soapAction="urn:agregarEncuestaRespondida" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="agregarEncuesta">
            <soap:operation soapAction="urn:agregarEncuesta" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="setArchivo">
            <soap:operation soapAction="urn:setArchivo" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtenerRecursos">
            <soap:operation soapAction="urn:obtenerRecursos" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEncuesta">
            <soap:operation soapAction="urn:getEncuesta" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEncuestaRespondida">
            <soap:operation soapAction="urn:getEncuestaRespondida" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sayHello">
            <soap:operation soapAction="urn:sayHello" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="MaterialsServiceSoap12Binding" type="ns:MaterialsServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="agregarLink">
            <soap12:operation soapAction="urn:agregarLink" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="agregarEncuestaRespondida">
            <soap12:operation soapAction="urn:agregarEncuestaRespondida" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="agregarEncuesta">
            <soap12:operation soapAction="urn:agregarEncuesta" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="setArchivo">
            <soap12:operation soapAction="urn:setArchivo" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtenerRecursos">
            <soap12:operation soapAction="urn:obtenerRecursos" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEncuesta">
            <soap12:operation soapAction="urn:getEncuesta" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEncuestaRespondida">
            <soap12:operation soapAction="urn:getEncuestaRespondida" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sayHello">
            <soap12:operation soapAction="urn:sayHello" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="MaterialsServiceHttpBinding" type="ns:MaterialsServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="agregarLink">
            <http:operation location="agregarLink"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="agregarEncuestaRespondida">
            <http:operation location="agregarEncuestaRespondida"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="agregarEncuesta">
            <http:operation location="agregarEncuesta"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="setArchivo">
            <http:operation location="setArchivo"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtenerRecursos">
            <http:operation location="obtenerRecursos"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEncuesta">
            <http:operation location="getEncuesta"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEncuestaRespondida">
            <http:operation location="getEncuestaRespondida"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sayHello">
            <http:operation location="sayHello"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MaterialsService">
        <wsdl:port name="MaterialsServiceHttpSoap11Endpoint" binding="ns:MaterialsServiceSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/Materials"/>
        </wsdl:port>
        <wsdl:port name="MaterialsServiceHttpSoap12Endpoint" binding="ns:MaterialsServiceSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/Materials"/>
        </wsdl:port>
        <wsdl:port name="MaterialsServiceHttpEndpoint" binding="ns:MaterialsServiceHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/Materials"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
